.mind {
  .toolbar {
    padding: 8px;
    background-color: #fff;
  }

  .content {
    padding: 0;
    display: flex;
    padding: 16px 8px;

    .container {
      flex: 1;
      min-height: 280px;
      margin-left: 8px;
      margin-right: 8px;
      box-shadow: 0 0 10px 1px #e9e9e9;
      background-color: #fff;
    }

    .miniMap {
      background-color: #fff;
    }
  }
}